*{
    background-color: #FFF6EF; 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
    
}
nav{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}.logo h2{
    font-size: 1rem;
    font-family: 'Noto Sans Tagalog', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    
    
}.logo{
    display: flex;
    align-items: center;

}.list{
    display: flex;
    gap: 10px;
    list-style: none;
    
    
}.log{
    
    display: flex;
    gap: 10px;
    
    
}main{
    width: 100%;
    height: 100%;
    margin: 5%;
    padding: 0%;

}.aboutcontenu h2{
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;

}

.getstarted {

    display: flex;
    flex-direction: column;
    color: #0A8080;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

}.textes{
     display: flex;
     padding: 120px;
     
}h3{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}.text1 p1{
    
    font-family: 'Inter', sans-serif;
    color: #0380A8;
    font-size: medium;
    font-weight: 500;
}

.text2 p2{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    color: #22A1A1;
    font-size: medium;

}.footer-container{
    
    
    padding: 10%;
    margin: 0%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}.footer-col ul{
    list-style: none;
    
}
