* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.logo_list, .logo {
    display: flex;
    align-items: center;
    gap: 5%;

}

ul.list {
    display: flex;
    gap: 1rem;
}

.logo_list {
    display: flex;
    gap: 30%;
}

.getstarted {
    display: flex;
    flex-direction: column;
    color: #0A8080;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

}

.login {
    display: flex;
    gap: 5%;
}


.head_img img {
    padding: 15px 10%;
    width: 100%;
    height: 100%;
    
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    z-index: 6;
}

h3{
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    padding-bottom: 60px;
}

.contact_box {
    background-color: #FFBB00;
    padding: 15px 50px;
    margin-right: -20px;
    z-index: 4;

}
.phone {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mail {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.position {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}h4 {
    background-color: #D9D9D9;
    border-radius: 20px;

}



form {
    background-color: #FFF5ED;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

.input-field {
    margin: 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 660px;
    height: auto;
    padding: 15px;
    font-size: 16px;

}

.fiel {
    background-color: #D9D9D9;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    width: 620px;
    height: auto;
    padding: 35px;
    

}
.btn {
    background-color: #D9D9D9;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    width: 100px;
    height: 55px;
    margin-left: 78%;
    

}
#fn{
    width: 60%;
}
#ent {
    width: 40%;
}

footer {
    padding: 1rem;

}

.footer-container {
    display: flex;
    justify-content: space-between;

}
.footer-col1 h5{
    
    display: flex;
    align-items: center;
    gap: 5%;
    
}
h5 {
    font-size: medium;
    font-weight: 18px;
}
.footer-container ul{
    
    font-size: small;
    font-weight: 15px;
    color: black;
}