* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.logo_list, .logo {
    display: flex;
    align-items: center;
    gap: 5%;

}

ul.list {
    display: flex;
    gap: 1rem;
}

.logo_list {
    display: flex;
    gap: 30%;
}

.getstarted {
    display: flex;
    flex-direction: column;
    color: #0A8080;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;

}


.login {
    display: flex;
    gap: 5%;
}
.advertise_head {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.advertise_para
 {
   
    margin: 1rem;
    font-size: small;
    font-weight: 16px;
}

h3{
    padding: 1rem;
}
.groups {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 700px;
    width: 100%;
    background-color: red;
}
.G1,.G2,.G3,.G4,.G5,.G6{
    width: 400px;
    height: auto;
    border: 1px solid black;
   text-align: center;
    padding: 20px;
}
.text {
    background-color: #EFE2DA;
    padding: 2rem;
    border-top-right-radius: 511%;
    border-top-left-radius: 511%;
    border-bottom-left-radius: 511%;
    border-bottom-right-radius: 511%;
    
}
.btn {
    margin: 10px;
}
